In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
actors=pd.read_csv('name.basics.tsv.gz',sep='\t',nrows=10)

In [3]:
actors=pd.DataFrame(actors)

In [4]:
data.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0053137,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050986,tt0050976,tt0069467"

In [128]:
movies=pd.read_csv('title.basics.tsv.gz',sep='\t',nrows=1000)

In [129]:
movies=pd.DataFrame(movies)

In [130]:
movies.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Exiting the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Action,Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Neuville-sur-Saône: Débarquement du congrès de...,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Sprinkler Sprinkled,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"
15,tt0000016,short,Barque sortant du port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
16,tt0000017,short,Italienischer Bauerntanz,Italienischer Bauerntanz,0,1895,\N,1,"Documentary,Short"
17,tt0000018,short,Das boxende Känguruh,Das boxende Känguruh,0,1895,\N,1,Short
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"
20,tt0000022,short,Blacksmith Scene,Les forgerons,0,1895,\N,1,"Documentary,Short"
21,tt0000023,short,The Sea,Baignade en mer,0,1895,\N,1,"Documentary,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,\N,\N,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1895,\N,\N,"News,Short,Sport"
24,tt0000026,short,The Messers. Lumière at Cards,Partie d'écarté,0,1896,\N,1,"Documentary,Short"
25,tt0000027,short,Cordeliers' Square in Lyon,Place des Cordeliers à Lyon,0,1895,\N,1,"Documentary,Short"
26,tt0000028,short,Fishing for Goldfish,La pêche aux poissons rouges,0,1895,\N,1,"Documentary,Short"
27,tt0000029,short,Baby's Dinner,Repas de bébé,0,1895,\N,1,"Documentary,Short"
28,tt0000030,short,Rough Sea at Dover,Rough Sea at Dover,0,1895,\N,1,"Documentary,Short"
29,tt0000031,short,Jumping the Blanket,Le saut à la couverture,0,1895,\N,1,"Documentary,Short"
30,tt0000032,short,Die Serpentintänzerin,Die Serpentintänzerin,0,1895,\N,1,Short
31,tt0000033,short,Trick Riding,La voltige,0,1895,\N,1,"Comedy,Documentary,Short"
32,tt0000034,short,Arrivée d'un train gare de Vincennes,Arrivée d'un train gare de Vincennes,0,1896,\N,1,"Documentary,Short"
33,tt0000035,short,Watering the Flowers,L'arroseur,0,1896,\N,1,"Comedy,Short"
34,tt0000036,short,Awakening of Rip,Awakening of Rip,0,1896,\N,0,"Drama,Short"
35,tt0000037,short,Sea Bathing,Baignade en mer,0,1896,\N,1,Short
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,\N,\N,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,\N,\N,Short
38,tt0000040,short,Barque sortant du port de Trouville,Barque sortant du port de Trouville,0,1896,\N,\N,"Documentary,Short"
39,tt0000041,short,Bataille de neige,Bataille de neige,0,1897,\N,1,"Action,Comedy,Documentary"
40,tt0000042,short,Bateau-mouche sur la Seine,Bateau-mouche sur la Seine,0,1896,\N,\N,"Documentary,Short"
41,tt0000043,short,Batteuse à vapeur,Batteuse à vapeur,0,1896,\N,\N,"Documentary,Short"
42,tt0000044,short,Le bivouac,Le bivouac,0,1896,\N,1,Short
43,tt0000045,short,Les blanchisseuses,Les blanchisseuses,0,1896,\N,\N,Short
44,tt0000046,short,Bois de Boulogne,Bois de Boulogne,0,1896,\N,\N,"Documentary,Short"
45,tt0000047,short,Boulevard des Italiens,Boulevard des Italiens,0,1896,\N,\N,"Documentary,Short"
46,tt0000048,short,The Boxing Kangaroo,The Boxing Kangaroo,0,1896,\N,\N,Short
47,tt0000049,short,"Boxing Match; or, Glove Contest","Boxing Match; or, Glove Contest",0,1896,\N,\N,"Short,Sport"
48,tt0000050,short,Bébé et fillettes,Bébé et fillettes,0,1896,\N,\N,"Documentary,Short"
49,tt0000051,short,The Bohemian Encampment,Campement de bohémiens,0,1896,\N,\N,"Documentary,Short"

In [7]:
Genre=pd.DataFrame(movies['genres'].unique())

In [24]:
Genre.head(50)

                            0
0           Documentary,Short
1             Animation,Short
2    Animation,Comedy,Romance
3                Comedy,Short
4                       Short
5                 Short,Sport
6                     Romance
7    Action,Documentary,Short
8     Documentary,Short,Sport
9                  News,Short
10           News,Short,Sport
11   Comedy,Documentary,Short
12                Drama,Short
13  Action,Comedy,Documentary
14              Fantasy,Short
15               Horror,Short
16        Comedy,Horror,Short
17            Biography,Short
18                Music,Short
19     Documentary,News,Sport
20       Fantasy,Horror,Short
21                  Short,War
22                Crime,Short
23              Short,Western
24         Comedy,Short,Sport
25      Comedy,Fantasy,Horror
26      Biography,Drama,Short
27              Romance,Short
28     Family,Fantasy,Romance
29            Drama,Short,War
30       Drama,Family,Fantasy
31   Adventure,Fantasy,Horror
32       Comedy,Romance,Short
33       Comedy,Fantasy,Short
34   Animation,Comedy,Fantasy
35               Family,Short
36            Biography,Drama
37     Documentary,News,Short
38        Drama,History,Short
39          Crime,Drama,Short
40      Fantasy,Romance,Short
41        Drama,Fantasy,Short
42         Drama,Horror,Short
43              History,Short
44    Action,Adventure,Comedy
45         Action,Crime,Short
46      Adventure,Drama,Short
47               Action,Short
48         Comedy,Music,Short
49    Adventure,Fantasy,Short

In [25]:
len(Genre)

1080

In [131]:
movies=movies[(movies.titleType=='movie')]

In [132]:
len(movies)

33

In [14]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [127]:
crew=pd.read_csv('title.crew.tsv.gz',sep='\t',nrows=1000)

In [28]:
crew=pd.DataFrame(crew)

In [29]:
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [30]:
movies.index

Int64Index([  8, 145, 332, 499, 571, 611, 626, 669, 670, 673, 730, 784, 803,
            805, 829, 833, 837, 841, 850, 853, 858, 859, 860, 870, 877, 882,
            931, 937, 949, 973, 981, 996, 999],
           dtype='int64')

In [124]:
for title_id in movies.tconst:
    print('https://www.imdb.com/title/'+str(title_id)+'/?ref_=fn_al_tt_1')

https://www.imdb.com/title/tt0003854/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0005076/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0005929/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0006626/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0008422/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0009882/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0010084/?ref_=fn_al_tt_1
https://www.imdb.com/title/tt0010100/?ref_=fn_al_tt_1

In [139]:
#the following function will return the total number the cast given the list of actors
def nbr_of_actors(arr):
    if (arr==['No cast available']):
        return 0
    else:
        return len(arr)

-Scraping the cast of each movie-

In [141]:
#we initialize our dataframe : Movie_cast 
Movie_cast=[]
#we will iterate on the urls using the tconst variable from the movie dataset to access .
#we will parse the html page of each movie to get the main actors.
#the main web page of each movie gives at most 15 cast members.

for title_id in movies.tconst:
    actor_list=[]
    URL='https://www.imdb.com/title/'+str(title_id)+'/?ref_=fn_al_tt_1'
    req=requests.get(URL)
    body=req.text
    soup=BeautifulSoup(body,'html.parser')
    Cast_table=soup.find('table', class_='cast_list')
    #there is sometimes missing information about the cast specially for old movies.
    if (Cast_table== None):
        actor_list.append('No cast available')
    else:   
        Cast_members=Cast_table.find_all('a')
        for actor in Cast_members:
            if (actor.get('href').startswith('/name/')):
                act_id=actor.get('href')[6:15]
                actor_list.append(act_id)
    #dropping duplicates from the list        
    actor_list=list(dict.fromkeys(actor_list))
    Movie_cast.append({'tconst':title_id,'Cast':actor_list,'Nbr_Main_actors':nbr_of_actors(actor_list)})

In [142]:
Movie_cast=pd.DataFrame(Movie_cast)    
Movie_cast.head(33)

,tconst,Cast,Nbr_Main_actors
0,tt0000009,"[nm0063086, nm0183823, nm1309758]",3
1,tt0000147,"[nm0179163, nm0280615, nm4082222, nm4081458, n...",5
2,tt0000335,"[nm1010955, nm1012612, nm1011210, nm1012621, n...",6
3,tt0000502,"[nm0215752, nm0252720]",2
4,tt0000574,"[nm0846887, nm0846894, nm3002376, nm0170118, n...",13
5,tt0000615,"[nm3071427, nm0581353, nm0888988, nm0240418, n...",6
6,tt0000630,[nm0624446],1
7,tt0000675,[No cast available],0
8,tt0000676,"[nm0097421, nm0140054]",2
9,tt0000679,"[nm0000875, nm0122665, nm0933446, nm2924919, n...",15
10,tt0000739,[No cast available],0
11,tt0000793,[nm0691995],1
12,tt0000812,[No cast available],0
13,tt0000814,[No cast available],0
14,tt0000838,[No cast available],0
15,tt0000842,[No cast available],0
16,tt0000846,[No cast available],0
17,tt0000850,[No cast available],0
18,tt0000859,[No cast available],0
19,tt0000862,"[nm5289829, nm0264569, nm0386036, nm0511080, n...",10
20,tt0000867,[No cast available],0
21,tt0000868,[No cast available],0
22,tt0000869,[No cast available],0
23,tt0000879,"[nm1747784, nm2681099]",2
24,tt0000886,[nm0609814],1
25,tt0000891,"[nm0727622, nm0814379]",2
26,tt0000941,"[nm0034453, nm0140054, nm0243918, nm0294022, n...",6
27,tt0000947,"[nm0488932, nm0814379]",2
28,tt0000959,[No cast available],0
29,tt0000984,[No cast available],0
30,tt0000992,[nm0119164],1
31,tt0001007,[No cast available],0
32,tt0001010,[No cast available],0

Scraping the awards of each actor( i tried the code only on 10 actors)

In [56]:
Actors_awards=[]
for actor_id in actors.nconst:
    URL='https://www.imdb.com/name/'+str(actor_id)+'/awards?ref_=nm_awd'
    req=requests.get(URL)
    body=req.text
    soup=BeautifulSoup(body,'html.parser')
    Awards=soup.find_all('tr')
    if (Awards==None):
        Actors_awards.append({'nconst':actor_id,'Year':None,'category':None,'W/N':None,'Description':None,'Movie':None})
    else:
        
        for award in Awards:
    
            if (award.find('td', class_='award_year')==None):
                year='No year available'
            else:
                year=(award.find('td', class_='award_year')).find('a').text
    
            if (award.find('span',class_='award_category')==None):
                category='no category available'
            else:
                category=award.find('span',class_='award_category').text
        
            if (award.find('td',class_="award_outcome")==None):
                w_n='no result available'
            else:
                w_n=award.find('td',class_="award_outcome").find('b').text
        
        
            if (award.find('td',class_='award_description')==None):
                award_desc='no description available available'
            else:
                award_desc=award.find('td',class_='award_description').text
                if (award.find('td',class_='award_description').find('a')==None):
                    movie='No movie available'
                    tconst=''
                else:
                    movie=(award.find('td',class_='award_description')).find('a').text
                    tconst=(award.find('td',class_='award_description')).find('a').get('href')[7:16]
        
            Actors_awards.append({'nconst':actor_id,'Year':year,'category':category,'W/N':w_n,'Describtion':award_desc,'Movie':movie,'tconst':tconst})

In [57]:
Actors_awards=pd.DataFrame(Actors_awards)
Actors_awards.head()

,nconst,Year,category,W/N,Describtion,Movie,tconst
0,nm0000001,1975\n,Oscar,Nominee,\n Best Actor in a Supporting Role\nThe Tower...,The Towering Inferno,tt0072308
1,nm0000001,1950\n,Honorary Award,Winner,\n\n For his unique artistry and his contri...,No movie available,
2,nm0000001,1975\n,Golden Globe,Winner,\n Best Supporting Actor - Motion Picture\nTh...,The Towering Inferno,tt0072308
3,nm0000001,1969\n,Golden Globe,Nominee,\n Best Actor - Comedy or Musical\nFinian's R...,Finian's Rainbow,tt0062974
4,nm0000001,1962\n,Golden Globe,Nominee,\n Best Actor - Comedy or Musical\nThe Pleasu...,The Pleasure of His Company,tt0055307

In [58]:
def clean_describ(strr):
    sep='\n'
    if (sep in strr):
        return strr.split(sep)[1].split(sep)[0]

In [59]:
def clean_year(strr):
    sep='\n'
    if(sep in strr):
        return strr.split(sep)[0]

In [60]:
Actors_awards['Year']=Actors_awards.apply(lambda x: clean_year(x['Year']), axis=1)

In [61]:
Actors_awards['Describtion']=Actors_awards.apply(lambda x: clean_describ(x['Describtion']), axis=1)

In [62]:
Actors_awards.head(40)

,nconst,Year,category,W/N,Describtion,Movie,tconst
0,nm0000001,1975,Oscar,Nominee,Best Actor in a Supporting Role,The Towering Inferno,tt0072308
1,nm0000001,1950,Honorary Award,Winner,,No movie available,
2,nm0000001,1975,Golden Globe,Winner,Best Supporting Actor - Motion Picture,The Towering Inferno,tt0072308
3,nm0000001,1969,Golden Globe,Nominee,Best Actor - Comedy or Musical,Finian's Rainbow,tt0062974
4,nm0000001,1962,Golden Globe,Nominee,Best Actor - Comedy or Musical,The Pleasure of His Company,tt0055307
5,nm0000001,1961,Cecil B. DeMille Award,Winner,,No movie available,
6,nm0000001,1960,Golden Globe,Nominee,Best Supporting Actor,On the Beach,tt0053137
7,nm0000001,1951,Golden Globe,Winner,Best Actor - Comedy or Musical,Three Little Words,tt0043044
8,nm0000001,1978,Primetime Emmy,Winner,Outstanding Lead Actor in a Drama or Comedy ...,A Family Upside Down,tt0077536
9,nm0000001,1968,Primetime Emmy,Nominee,Outstanding Musical or Variety Program,The Fred Astaire Show,tt0857216
10,nm0000001,1961,Primetime Emmy,Winner,Outstanding Performance in a Variety or Musi...,Astaire Time,tt0857198
11,nm0000001,1960,Primetime Emmy,Nominee,Outstanding Performance in a Variety or Musi...,Another Evening with Fred Astaire,tt0326732
12,nm0000001,1959,Primetime Emmy,Winner,Best Single Performance by an Actor,An Evening with Fred Astaire,tt0327699
13,nm0000001,1976,BAFTA Film Award,Winner,Best Supporting Actor,The Towering Inferno,tt0072308
14,nm0000001,1981,Life Achievement Award,Winner,,No movie available,
15,nm0000001,1970,UNICRIT Special Award,Winner,,No movie available,
16,nm0000001,1975,Career David,Winner,,No movie available,
17,nm0000001,1973,Gala Tribute,Winner,,No movie available,
18,nm0000001,1968,Golden Apple,Winner,Male Star of the Year,No movie available,
19,nm0000001,1941,Sour Apple,Winner,Shared with:,Ginger Rogers,m0001677
20,nm0000001,1958,Golden Laurel,Nominee,Top Male Musical Performance,Funny Face,tt0050419
21,nm0000001,2018,OFTA TV Hall of Fame,Winner,Actors and Actresses,No movie available,
22,nm0000001,2008,OFTA Film Hall of Fame,Winner,Acting,No movie available,
23,nm0000001,1978,Kennedy Center Honors,Winner,,No movie available,
24,nm0000001,1960,Star on the Walk of Fame,Winner,Motion Picture,No movie available,
25,nm0000001,None,no category available,no result available,None,No movie available,
26,nm0000001,None,no category available,no result available,None,No movie available,
27,nm0000002,2010,Honorary Award,Winner,,No movie available,
28,nm0000002,1997,Oscar,Nominee,Best Actress in a Supporting Role,The Mirror Has Two Faces,tt0117057
29,nm0000002,1997,Golden Globe,Winner,Best Performance by an Actress in a Supporti...,The Mirror Has Two Faces,tt0117057
30,nm0000002,1993,Cecil B. DeMille Award,Winner,,No movie available,
31,nm0000002,1988,Primetime Emmy,Nominee,Outstanding Informational Special,Great Performances,tt0159876
32,nm0000002,1980,Primetime Emmy,Nominee,Outstanding Lead Actress in a Drama Series,The Rockford Files,tt0071042
33,nm0000002,1973,Primetime Emmy,Nominee,Outstanding Single Performance by an Actress...,Applause,tt0157321
34,nm0000002,1997,BAFTA Film Award,Nominee,Best Performance by an Actress in a Supporti...,The Mirror Has Two Faces,tt0117057
35,nm0000002,1977,BAFTA Film Award,Nominee,Best Actress,The Shootist,tt0075213
36,nm0000002,2017,Felix,Nominee,Best Supporting Actress,The Mirror Has Two Faces,tt0117057
37,nm0000002,1997,American Comedy Award,Nominee,Funniest Supporting Actress in a Motion Picture,The Mirror Has Two Faces,tt0117057
38,nm0000002,1997,Berlinale Camera,Winner,,No movie available,
39,nm0000002,1997,Lifetime Achievement Award,Winner,,No movie available,